<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playfair CIPHER</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<style>
    
    .back-to-home-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .back-to-home-btn:hover {
        background-color: #0056b3;
    }
</style>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <table class="table">
                    <tr>
                        <td colspan="2" style="text-align: center;font-weight: bold;font-size: 25px;">Playfair CIPHER</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;color: aqua;">Matrix</td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST" action="/playfair/creatematrix">
                                <div class="form-group">
                                    <label for="inputKeyMatrix">Key Matrix: </label>
                                    <input type="text" class="form-control" id="inputKeyMatrix" name="inputKeyMatrix" placeholder="Input Key Matrix" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Create Matrix</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;color: aqua;">ENCRYPTION</td>
                    </tr>
                    <tr>
                        <td>
                            <form method="POST" action="/playfair/encrypt">
                                <div class="form-group">
                                    <label for="inputPlainText">PLAIN TEXT: </label>
                                    <input type="text" class="form-control" id="inputPlainText" name="inputPlainText" placeholder="Input Plain Text" required autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="inputKeyPlain">Key: </label>
                                    <input type="text" class="form-control" id="inputKeyPlain" name="inputKeyPlain" placeholder="Input Key" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Encrypt</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="font-weight: bold;color: aqua;">DECRYPTION</td>
                    </tr>
                    <tr>
                        <td>
                            <form action="/playfair/decrypt" method="POST">
                                <div class="form-group">
                                    <label for="inputCipherText">CIPHER TEXT: </label>
                                    <input type="text" class="form-control" id="inputCipherText" name="inputCipherText" placeholder="Input Cipher Text" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputKeyCipher">Key: </label>
                                    <input type="text" class="form-control" id="inputKeyCipher" name="inputKeyCipher" placeholder="Input Key Cipher" required>
                                </div>
                                <button type="submit" class="btn btn-success">Decrypt</button>
                            </form>
                        </td>
                    </tr>
                </table>
                <button class="back-to-home-btn"><a href="\" style="color: inherit; text-decoration: none;">Back To Home</a></button>
            </div>
        </div>
    </div>
</body>
</html>
